.restaurants-all {
    background-color: #dddd;

        h2 {
        font-size: 2em;
    }
}

.restaurants-all-card {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
                
                
                
